<?xml version="1.0"?>
<!-- Set default value for system config items -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simpleblog>
            <general>
                <enable>1</enable>
                <display_text>Simple Blog</display_text>
            </general>
        </simpleblog>
    </default>
</config>
