<!-- declare the post collection class, table and resourceModel for the table -->
<!-- This source will be called in the layout file to get data for grid -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brituy_simpleblog_blog_listing_data_source" xsi:type="string">
                	Brituy\SimpleBlog\Model\ResourceModel\Blog\Collection
                </item>
                <item name="brituy_simpleblog_author_listing_data_source" xsi:type="string">
                	Brituy\SimpleBlog\Model\ResourceModel\Authors\Collection
                </item>
                <item name="brituy_simpleblog_category_listing_data_source" xsi:type="string">
                	Brituy\SimpleBlog\Model\ResourceModel\Categories\Collection
                </item>
            </argument>
        </arguments>
    </type>
    
    <virtualType name="Brituy\SimpleBlog\Model\ResourceModel\Blog\Collection"
    		  type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brituy_blog_main</argument>
            <argument name="resourceModel" xsi:type="string">Brituy\SimpleBlog\Model\ResourceModel\Blog</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="Brituy\SimpleBlog\Model\ResourceModel\Authors\Collection"
    		  type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brituy_blog_authors</argument>
            <argument name="resourceModel" xsi:type="string">Brituy\SimpleBlog\Model\ResourceModel\Authors</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="Brituy\SimpleBlog\Model\ResourceModel\Categories\Collection"
    		  type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brituy_blog_categories</argument>
            <argument name="resourceModel" xsi:type="string">Brituy\SimpleBlog\Model\ResourceModel\Categories</argument>
        </arguments>
    </virtualType>
</config>
